* {
  margin: 0;
  padding: 0px;
  overflow-x: none;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.logo {
  width: 150px;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 48px;
  width: 100vw;
  overflow-x: hidden;
}
.home {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.navigation-items {
  display: flex;
  gap: 20px;
  margin-right: 130px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.signup {
  position: absolute;
  top: 120px;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  color: #0f0b0b;
  text-transform: capitalize;
}
.signup input {
  height: 32px;
  border-radius: 10px;
  padding-left: 10px;
 
}
.home img {
  width: 50%;
  height: 80%;
  margin-left: 600px;
}
.nav-items {
  text-decoration: none;
  color: black;
}

.login {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
}
.login img {
  width: 50%;
  height: 80%;
  margin-left:600px ;
}
.login-inputs input {
  height: 32px;
  border-radius: 10px;
  padding-left: 10px;
}
.login-inputs {
  position: absolute;
  top: 100px;
  left: 5%;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  gap: 20px;
}
.dashboard {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.dashboard img {
  width: 100%;
  height: 100%;
}

.details {
  position: absolute;
  top: 10px;
}
.attendance {
  text-align: center;
  display: flex;
  color: white;
  height: 100vh;
   background-position: center center;
  background-size: cover;
  background-image: url("https://4kwallpapers.com/images/wallpapers/modern-architecture-look-up-reflection-glass-building-5000x2812-2881.jpg"); 
}

.attendance input {
  width: 220px;
  height: 35px;
  border-radius: 8px;
  margin-top: 7px;
  margin-left: 660px;
  font-size: 20px;
  padding: 10px;
}
.attendance p {
  margin-left: 640px;
  margin-top: 100px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-btn{
   width: 220px;
   height: 30px;
   border-radius: 5px;
   margin-top: 7px;
   margin-left: 660px;
   border: none;
   background-color: blue;
   color: #fff;
   font-weight: 700;
}
.heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: black;
  font-weight:700 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.checkTimeandDate {
  display: flex;
  flex-direction: column;
}
.mess-img{
  width: 100%;
  height: 1050px;
  color: white;

  object-fit: cover;
}